
venv/
.venv/
.env
__pycache__/
*.pyc
.vscode/

personal/
*.bin
*.sqlite3
data/*
log.txt
db/*
tests/ingest_results/*
docker/RAG/frontend/node_modules/*
tests/output_orchestrator/*
RAG_quality_test/results/*
graph_data/*
graph_db/*
hf_cache/
auth_db/